# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/.gradle/
android/app/libs/
**/android/**/gradle-wrapper.jar

# Android related
/app/.cxx/
local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/**/GeneratedPluginRegistrant.h
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat

# iOS related
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
**/ios/**/GeneratedPluginRegistrant.*
**/ios/**/Pods/
ios/.generated/

# Web related
web/.dart_tool/
web/.packages
web/build/

# macOS related
macos/Flutter/ephemeral/
macos/.symlinks/
macos/Pods/
macos/Runner.xcworkspace/
**/macos/**/GeneratedPluginRegistrant.*

# Windows related
windows/Flutter/ephemeral/
windows/.symlinks/
**/windows/**/GeneratedPluginRegistrant.*

# Linux related
linux/Flutter/ephemeral/
linux/.symlinks/
**/linux/**/GeneratedPluginRegistrant.*

# General
**/*.iml
.idea/
.vscode/
*.log
*.lock
*.pyc
*.pyo
*.DS_Store
*.dart_tool/
*.flutter-plugins
*.flutter-plugins-dependencies
